@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-sans;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-white;
    font-family: 'Oxanium', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
